/.vs/EventManagementAPI/DesignTimeBuild/.dtbcache.v2
/.vs/EventManagementAPI/FileContentIndex/0b726930-2f3e-4ea9-839e-b80980cafa6e.vsidx
/.vs/EventManagementAPI/FileContentIndex/38d3d85e-3c72-4204-b2d1-d05badceaa46.vsidx
/.vs/EventManagementAPI/FileContentIndex/4a887913-8cec-4a19-9690-bb09acb6fd45.vsidx
/.vs/EventManagementAPI/FileContentIndex/f2f94fb3-95c4-4674-bbc2-3dc932bf1503.vsidx
/.vs/EventManagementAPI/FileContentIndex/read.lock
/.vs/EventManagementAPI/v17/.futdcache.v2
/.vs/EventManagementAPI/v17/.suo
/.vs/ProjectEvaluation/eventmanagementapi.metadata.v6.1
/.vs/ProjectEvaluation/eventmanagementapi.projects.v6.1
/Core/Application/bin/Debug/net6.0/Application.deps.json
/Core/Application/bin/Debug/net6.0/Application.dll
/Core/Application/bin/Debug/net6.0/Application.pdb
/Core/Application/obj/Application.csproj.nuget.dgspec.json
/Core/Application/obj/Application.csproj.nuget.g.props
/Core/Application/obj/Application.csproj.nuget.g.targets
/Core/Application/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Core/Application/obj/Debug/net6.0/Application.AssemblyInfo.cs
/Core/Application/obj/Debug/net6.0/Application.AssemblyInfoInputs.cache
/Core/Application/obj/Debug/net6.0/Application.assets.cache
/Core/Application/obj/Debug/net6.0/Application.csproj.AssemblyReference.cache
/Core/Application/obj/Debug/net6.0/Application.csproj.CoreCompileInputs.cache
/Core/Application/obj/Debug/net6.0/Application.csproj.FileListAbsolute.txt
/Core/Application/obj/Debug/net6.0/Application.dll
/Core/Application/obj/Debug/net6.0/Application.GeneratedMSBuildEditorConfig.editorconfig
/Core/Application/obj/Debug/net6.0/Application.GlobalUsings.g.cs
/Core/Application/obj/Debug/net6.0/Application.pdb
/Core/Application/obj/Debug/net6.0/ref/Application.dll
/Core/Application/obj/Debug/net6.0/refint/Application.dll
/Core/Application/obj/project.assets.json
/Core/Application/obj/project.nuget.cache
/Core/Domain/bin/Debug/net6.0/Domain.deps.json
/Core/Domain/bin/Debug/net6.0/Domain.dll
/Core/Domain/bin/Debug/net6.0/Domain.pdb
/Core/Domain/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Core/Domain/obj/Debug/net6.0/Domain.AssemblyInfo.cs
/Core/Domain/obj/Debug/net6.0/Domain.AssemblyInfoInputs.cache
/Core/Domain/obj/Debug/net6.0/Domain.assets.cache
/Core/Domain/obj/Debug/net6.0/Domain.csproj.AssemblyReference.cache
/Core/Domain/obj/Debug/net6.0/Domain.csproj.CoreCompileInputs.cache
/Core/Domain/obj/Debug/net6.0/Domain.csproj.FileListAbsolute.txt
/Core/Domain/obj/Debug/net6.0/Domain.dll
/Core/Domain/obj/Debug/net6.0/Domain.GeneratedMSBuildEditorConfig.editorconfig
/Core/Domain/obj/Debug/net6.0/Domain.GlobalUsings.g.cs
/Core/Domain/obj/Debug/net6.0/Domain.pdb
/Core/Domain/obj/Debug/net6.0/ref/Domain.dll
/Core/Domain/obj/Debug/net6.0/refint/Domain.dll
/Core/Domain/obj/Domain.csproj.nuget.dgspec.json
/Core/Domain/obj/Domain.csproj.nuget.g.props
/Core/Domain/obj/Domain.csproj.nuget.g.targets
/Core/Domain/obj/project.assets.json
/Core/Domain/obj/project.nuget.cache
/External/Infrastructure/bin/Debug/net6.0/Infrastructure.deps.json
/External/Infrastructure/bin/Debug/net6.0/Infrastructure.dll
/External/Infrastructure/bin/Debug/net6.0/Infrastructure.pdb
/External/Infrastructure/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/External/Infrastructure/obj/Debug/net6.0/Infrastructure.AssemblyInfo.cs
/External/Infrastructure/obj/Debug/net6.0/Infrastructure.AssemblyInfoInputs.cache
/External/Infrastructure/obj/Debug/net6.0/Infrastructure.assets.cache
/External/Infrastructure/obj/Debug/net6.0/Infrastructure.csproj.AssemblyReference.cache
/External/Infrastructure/obj/Debug/net6.0/Infrastructure.csproj.CoreCompileInputs.cache
/External/Infrastructure/obj/Debug/net6.0/Infrastructure.csproj.FileListAbsolute.txt
/External/Infrastructure/obj/Debug/net6.0/Infrastructure.dll
/External/Infrastructure/obj/Debug/net6.0/Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/External/Infrastructure/obj/Debug/net6.0/Infrastructure.GlobalUsings.g.cs
/External/Infrastructure/obj/Debug/net6.0/Infrastructure.pdb
/External/Infrastructure/obj/Debug/net6.0/ref/Infrastructure.dll
/External/Infrastructure/obj/Debug/net6.0/refint/Infrastructure.dll
/External/Infrastructure/obj/Infrastructure.csproj.nuget.dgspec.json
/External/Infrastructure/obj/Infrastructure.csproj.nuget.g.props
/External/Infrastructure/obj/Infrastructure.csproj.nuget.g.targets
/External/Infrastructure/obj/project.assets.json
/External/Infrastructure/obj/project.nuget.cache
/External/Presentation/bin/Debug/net6.0/Presentation.deps.json
/External/Presentation/bin/Debug/net6.0/Presentation.dll
/External/Presentation/bin/Debug/net6.0/Presentation.pdb
/External/Presentation/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/External/Presentation/obj/Debug/net6.0/Presentation.AssemblyInfo.cs
/External/Presentation/obj/Debug/net6.0/Presentation.AssemblyInfoInputs.cache
/External/Presentation/obj/Debug/net6.0/Presentation.assets.cache
/External/Presentation/obj/Debug/net6.0/Presentation.csproj.AssemblyReference.cache
/External/Presentation/obj/Debug/net6.0/Presentation.csproj.CoreCompileInputs.cache
/External/Presentation/obj/Debug/net6.0/Presentation.csproj.FileListAbsolute.txt
/External/Presentation/obj/Debug/net6.0/Presentation.dll
/External/Presentation/obj/Debug/net6.0/Presentation.GeneratedMSBuildEditorConfig.editorconfig
/External/Presentation/obj/Debug/net6.0/Presentation.GlobalUsings.g.cs
/External/Presentation/obj/Debug/net6.0/Presentation.pdb
/External/Presentation/obj/Debug/net6.0/ref/Presentation.dll
/External/Presentation/obj/Debug/net6.0/refint/Presentation.dll
/External/Presentation/obj/Presentation.csproj.nuget.dgspec.json
/External/Presentation/obj/Presentation.csproj.nuget.g.props
/External/Presentation/obj/Presentation.csproj.nuget.g.targets
/External/Presentation/obj/project.assets.json
/External/Presentation/obj/project.nuget.cache
/Web/bin/Debug/net6.0/appsettings.Development.json
/Web/bin/Debug/net6.0/appsettings.json
/Web/bin/Debug/net6.0/Microsoft.OpenApi.dll
/Web/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
/Web/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/Web/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/Web/bin/Debug/net6.0/Web.deps.json
/Web/bin/Debug/net6.0/Web.dll
/Web/bin/Debug/net6.0/Web.exe
/Web/bin/Debug/net6.0/Web.pdb
/Web/bin/Debug/net6.0/Web.runtimeconfig.json
/Web/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Web/obj/Debug/net6.0/apphost.exe
/Web/obj/Debug/net6.0/ref/Web.dll
/Web/obj/Debug/net6.0/refint/Web.dll
/Web/obj/Debug/net6.0/staticwebassets.build.json
/Web/obj/Debug/net6.0/staticwebassets/msbuild.build.Web.props
/Web/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.Web.props
/Web/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.Web.props
/Web/obj/Debug/net6.0/Web.AssemblyInfo.cs
/Web/obj/Debug/net6.0/Web.AssemblyInfoInputs.cache
/Web/obj/Debug/net6.0/Web.assets.cache
/Web/obj/Debug/net6.0/Web.csproj.AssemblyReference.cache
/Web/obj/Debug/net6.0/Web.csproj.CopyComplete
/Web/obj/Debug/net6.0/Web.csproj.CoreCompileInputs.cache
/Web/obj/Debug/net6.0/Web.csproj.FileListAbsolute.txt
/Web/obj/Debug/net6.0/Web.dll
/Web/obj/Debug/net6.0/Web.GeneratedMSBuildEditorConfig.editorconfig
/Web/obj/Debug/net6.0/Web.genruntimeconfig.cache
/Web/obj/Debug/net6.0/Web.GlobalUsings.g.cs
/Web/obj/Debug/net6.0/Web.MvcApplicationPartsAssemblyInfo.cache
/Web/obj/Debug/net6.0/Web.MvcApplicationPartsAssemblyInfo.cs
/Web/obj/Debug/net6.0/Web.pdb
/Web/obj/project.assets.json
/Web/obj/project.nuget.cache
/Web/obj/Web.csproj.nuget.dgspec.json
/Web/obj/Web.csproj.nuget.g.props
/Web/obj/Web.csproj.nuget.g.targets
